# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# ENV / secrets
.env
raj.jpeg
grv.jpeg
aashi.jpeg
sahil.jpeg
sanjay.jpeg
sudhanshu.jpeg